body {
    margin: 0px;
    font-family: MessinaSans,sans-serif;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.Navigation {
    text-align: left;
    display: block;
    height: 10%;
    width: 100%;
}

.header {
    display: flex;
    z-index: 2;
    align-items: center;
    color: black;
    background-color: #f2f2f2;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(10, 10, 10);
}

.header-buttons-left a {
    padding-left: 10px;
    margin-left: 24px;
    color: black;
}

.header-buttens-right{
    padding-right: 10px;
    margin-right: 24px;
}

.header-buttens-right a {
    float: right;
    padding-right: 20px;
    color:black;
}


.icon-search{
    padding-top: 35px;
    padding-left: 35px;
}

.icon-search h3{
    display: inline-flex;
    justify-content: left;
    font-size: 18pt;
}

.icon-search #BOA-icon {
    width: 60px;
    height: 60px;
    margin-top: auto;
    margin-bottom: auto;
}
 

.icon-search input[type=text]{
    height: 30px;
    width: auto;
    margin-top: 40px;
    display: inline-flex;
    float: right;
    padding-right: 5%;
    border: none;
    margin-right: 55px;
    font-size: 16px;
    border: 1px solid #ccc;
}

.icon-search #search-icon{
    margin-right: 10px;
    float:right;
    margin-top: 42px;
    width: 30px;
    height: auto;
}

@media screen {
    .Main, .Main2, .Main3, footer {
        height: 80%;
        width: 80%;
    }
}


.Main {
    height: 30%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
}

.login{
    display: inline-flex;
    background-color: rgb(154, 49, 49);;
}

.Login-box {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 24px;
    padding-right: 24px;
    color: white;
}

.Login-box input[type=text]{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top:20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.Login-box #submit-icon{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top:10px;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.Login-text{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 24px;
    padding-top: 8px;
    padding-left: 24px;
    padding-right: 24px;

    color: white;
}

.Login-text p {
    font-size: 14pt;
    text-decoration: underline;
    font-stretch: expanded;
}

#new-account{
    display: flex;
    font-size: 14pt;
    background-color: rgb(112, 14, 14);
    padding:20px;
    padding-top: 20px;
}

.Cards-choice {
    flex: 1;
    display: inline-block;
    margin-left: 24px;

}

.cards {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
}

.c1, .c2, .c3, .c4{
padding-right: 20px;
padding-bottom: 20px;
}

.c1, .c2, .c3, .c4 p{
    margin-left: auto;
    margin-right: auto;
}

h1{
    color: rgb(230, 2, 2);
}

#behind-number{
color:rgb(230, 2, 2);
}

#detail{
    color: cornflowerblue;
    text-decoration: underline;
}
.Main2 {
    display: flex;
    width: 100%;
    padding: 20px 30px 30px;
    background-color: aliceblue;
}
.suggestions {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
}

.suggestions img{
    width: 40px;
    height: 40px;
}

.s1, .s2, .s3, .s4{
padding-right: 30px;
padding-bottom: 30px;
}

.s1, .s2, .s3, .s4 p{
    margin-left: auto;
    margin-right: auto;
}

#red{
    font-size: 16pt;
    color: rgb(230, 2, 2);
}

.s2 #text{
    margin-top: 20px;
}

.button1, .button2, .button3, .button4{
    padding: 15px 30px;
    background-color:cornflowerblue;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    margin: 6px, 3px;
    cursor: pointer;
}

.s1 .button1{
    margin-top: 20px;
}

.s4 .button4{
    margin-top: 20px;
}

#title-m2-m3{
    padding-top: 10px;
    color: black;
    display: flex;
    justify-content: center;
}

.Main3 {
    display: inline-flex;
    width: 100%;
    padding: 10px 30px 30px;
    background-color: rgb(255, 255, 255);
}

.m3-p1{
    padding-top: 20px;
    display: inline-flex;
    width: 50%;
    height: 30%;
    background-color:white ;
}

.m3-p1 img{
    height: 20em;
    margin-left: 24px;
}

.m3-p1 p{
    padding: 5px;
    justify-content: right;
    margin-left: 24px;
    padding-left: 20px;
    margin-right: 24px;
    padding-right: 20px;
}

#m3-1-h1{
    font-size: 18pt;
    color: rgb(230, 2, 2);;
}

#m3-1-h2{
    font-size: 14pt;
}


.more-button-1{
    margin-left: 42px;
}

.m3-p2{
    padding-top: 20px;
    display: inline-flex;
    width: 50%;
    height: 30%;
    background-color:rgba(4, 4, 117, 0.795);
}

.m3-p2 img{

    display: flex;
    justify-items: right;
    height: 20em;
    margin-left: 24px;
}
.m3-2-text p{
    padding: 10px;
    justify-content: right;
    margin-left: 24px;
    padding-left: 20px;
    margin-right: 24px;
    padding-right: 20px;
    color: white;
    font-size: 20pt;

}

.more-button-2{
    margin-left: 42px;
}

.Footer{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    display: inline-flex;
    justify-content: left;
    width: 100%;
    margin-right: 24px;
    overflow: hidden;
    background-color: rgba(4, 4, 117, 0.795);
}

li {
    float: center;
}


li a {
    list-style-type: none;
        display:flex;
        padding: 10px;
        margin: 30px;
        color: white;

    }

.more-button-1, .more-button-2 a{
    list-style-type: none;
    color:rgb(255, 255, 255);
}

.button {
    padding: 15px 30px;
    background-color:cornflowerblue;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    margin: 6px, 3px;
    cursor: pointer;
}

.Agreement h3{
    margin-left: 24px;
    color: rgb(7, 75, 171);
}

.Agreement p{
    padding: 5px;
    margin-left: 24px;
    margin-right: 24px;
}

table, td{
    border: 2px solid;
    text-align: center;
  }
  
table {
    margin-left: 24px;
    margin-right: 24px;
    width: 98%;
    align-items: center;
    border-collapse: collapse;
  }