body {
    margin: 0px;
    font-family: MessinaSans,sans-serif;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.Navigation {
    text-align: left;
    display: block;
    height: 10%;
    width: 100%;
}

.header {
    display: flex;
    z-index: 2;
    align-items: center;
    color: black;
    background-color: #f2f2f2;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(10, 10, 10);
}

.header-buttons-left a {
    padding-left: 10px;
    margin-left: 24px;
    color: black;
}

.header-buttens-right{
    padding-right: 10px;
    margin-right: 24px;
}

.header-buttens-right a {
    float: right;
    padding-right: 20px;
    color:black;
}


.icon-search{
    padding-top: 35px;
    padding-left: 35px;
}

.icon-search h3{
    display: inline-flex;
    justify-content: left;
    font-size: 18pt;
}

.icon-search #BOA-icon {
    width: 60px;
    height: 60px;
    margin-top: auto;
    margin-bottom: auto;
}
 

.icon-search input[type=text]{
    height: 30px;
    width: auto;
    margin-top: 40px;
    display: inline-flex;
    float: right;
    padding-right: 5%;
    border: none;
    margin-right: 55px;
    font-size: 16px;
    border: 1px solid #ccc;
}

.icon-search #search-icon{
    margin-right: 10px;
    float:right;
    margin-top: 42px;
    width: 30px;
    height: auto;
}

@media screen {
    .Main, .Main2, .Main3, .Main4, footer {
        height: 80%;
        width: 80%;
    }
}

.Main {
    height: 30%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
}

.Login-box {
    padding-top: 20px;
    height: 30%;
    width: 10%;
    margin-left: 24px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: rgb(170, 21, 21);
    color: white;
}

.Login-box input[type=text]{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top:15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.Login-box #submit-icon{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top:10px;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.Login-text{
    display: inline;
    height: 30%;
    width: 10%;
    margin-right: 24px;
    padding-top: 8px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: rgb(170, 21, 21);
    color: white;
}
.Login-text p {
    text-decoration: underline;
    font-stretch: expanded;
}

.Login-text h3{
    display: flex;
    margin-top: 47.5px;
    background-color: rgb(112, 14, 14);
    padding:20px;
    padding-top: 20px;
}

.Cards-choice {
    flex: 1;
    display: inline-block;
    margin-left: 24px;

}

.cards {
    display: inline-flex;
}

.Main2 {
    display: flex;
    
    width: 100%;
    padding: 20px 30px 30px;
    background-color: aliceblue;
}

.Main2_image {
    flex: 1;
    display: inline_block;
    
}
.Main2_text {
    display: inline;
    margin-right: 20px;

}
.Main3 {
    display: flex;
    width: 100%;
    padding: 20px 30px 30px;
    background-color: rgb(255, 254, 235);
}

.Main3_image {
    flex: 1;
    display: inline_block;
}
.Main3_text {
    display: inline;
    margin-right: 20px;
 
}

.Main4 {
    display: flex;
    width: 100%;
    padding: 20px 30px 30px;
    background-color: aliceblue;
}
.Main4_image {
    flex: 1;
    display: inline_block;
}
.Main4_text {
    display: inline;
    margin-right: 20px;

}

.Footer{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    display: inline-flex;
    justify-content: left;
    width: 100%;
    margin-right: 24px;
    overflow: hidden;
    background-color: rgba(4, 4, 117, 0.795);
}

li {
    float: center;
}


li a {
    list-style-type: none;
        display:flex;
        padding: 10px;
        margin: 30px;
        color: white;

    }

li a:hover {
    background-color: cornflowerblue;
}

ol li a{
    list-style-type: none;
    color:black;
}

.button {
    padding: 15px 30px;
    background-color:rgb(5, 105, 92);
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    margin: 6px, 3px;
    cursor: pointer;
}

.Agreement h3{
    margin-left: 24px;
    color: rgb(7, 75, 171);
}

.Agreement p{
    padding: 5px;
    margin-left: 24px;
    margin-right: 24px;
}

table, td{
    border: 2px solid;
    text-align: center;
  }
  
table {
    margin-left: 24px;
    margin-right: 24px;
    width: 98%;
    align-items: center;
    border-collapse: collapse;
  }